.start {
    background-color: green;
}

.finish {
    background-color: red;
}

.wall {
    background-color: darkgray;
}

.btn_active {
    font-weight: bold;
}

#bfs_explorer {
    max-width: 80%;
    margin: 0 auto;
}

ul#theGridElements {
    list-style-type: none;
}

ul#theGridElements li {
    width: 30px;
    height: 30px;
    border: 2px solid slategray;
    list-style-type: none;
    border-collapse: collapse
}

/* make the hovered li red.
 This shows focus, while keeping everything simple to math about. (No border size changes, and it looks good)
*/
ul#theGridElements li:hover {
    border-color: darkred;
    box-shadow: inset 5px 5px darkred, inset -5px -5px darkred;
}