:root {
    --path: lightgreen;
    --active: gold;
    --inQueue: lightblue;
    --discovered: darkblue;
}


.start {
    background-color: green;
}

.finish {
    background-color: red;
}

.wall {
    background-color: darkgray;
}

li.active {
    box-shadow: inset 7px 7px var(--active), inset -7px 7px var(--active);
}

span.active {
    color: var(--active);
    background-color: black;
    padding-left: 3px;
    padding-right: 3px;
}

li.path {
    box-shadow: inset 10px 10px var(--path), inset -10px -10px var(--path) !important;
}

span.path {
    color: var(--path);
    background-color: black;
    padding-left: 3px;
    padding-right: 3px;
}

li.inQueue {
    box-shadow: inset 7px 7px var(--inQueue), inset -7px 7px var(--inQueue);
}

span.inQueue {
    color: var(--inQueue);
    background-color: black;
    padding-left: 3px;
    padding-right: 3px;
}

li.discovered {
    box-shadow: inset 7px 7px var(--discovered), inset -7px 7px var(--discovered);
}

span.discovered {
    color: var(--discovered);
    background-color: lightgrey;
    padding-left: 3px;
    padding-right: 3px;
}

/* global stuff */
.btn_active {
    font-weight: bold;
}

#bfs_explorer {
    max-width: 80%;
    margin: 0 auto;
}

ul#theGridElements {
    list-style-type: none;
}

ul#theGridElements li {
    width: 30px;
    height: 30px;
    border: 2px solid slategray;
    list-style-type: none;
    border-collapse: collapse
}

/* make the hovered li red.
 This shows focus, while keeping everything simple to math about. (No border size changes, and it looks good)
*/
ul#theGridElements li:hover {
    border-color: darkred;
    box-shadow: inset 5px 5px darkred, inset -5px -5px darkred;
}

button {
    font-size: 14pt;
}